gray = #d0d0d0
orange = #F47A20
red = #fc435d
green = #00be8f
yellow = #faff76
blue = rgb(0, 120, 190)

bg-color(arguments)
  background arguments
  &:hover
    background darken(arguments, 25%)

body
  background blue
  font-family Helvetica, Arial, sans-serif

button, input
  font-family Helvetica, Arial, sans-serif
  font-size 15px
  border none
  border-radius 5px
  padding 5px 10px
  margin 0 5px
  cursor pointer
  text-decoration none

input
  text-align left
  box-shadow: 2px 2px 0px 0px #999;
  height 20px

button
  font-weight bold
  color white
  height 30px
  text-align center

pre
  code
    margin 3%
    padding 2%
    width 90%
    display block

code
  background #CCC
  font-weight bold

.node-example
  margin auto
  text-align center
  width 90%
  h1
    color white
    text-shadow: 2px 2px black;

.helpPanel
  position absolute
  background white
  transition left 1s
  width 300px
  opacity .95
  top 0
  left 0
  bottom 0
  ul
    padding: 15px
  .contents
    padding-left 10px
    height 100%
    overflow auto
    h1
      margin-top 35px
  a
    cursor pointer
  &.hidden
    left -300px
    a.show
      transition opacity 1s 1s
  &.shown
    a.show
      opacity 0
  a.show
    position absolute
    right -60px
    color white
    top 10px
  a.hide
    position absolute
    width 98%
    height 50px
    background linear-gradient(white, white, rgba(255,255,255,0))
    padding 1%
