.col-xs-3
  input.form-control(type='number', placeholder='quantità', ng-model="elem.qyt")
  input.form-control(type='number', placeholder='prezzo', ng-model="elem.price")
  button.btn.btn-default(type='button', ng-click="performProposta()") Do it!
.col-xs-9
  .radio
  label
    input(type='radio', name='optionsRadios', ng-model="proposta", ng-value="")
    | Proposta senza limite di prezzo, a prezzo di mercato
  .radio
  label
    input(type='radio', name='optionsRadios', ng-model="proposta", ng-value="")
    | Proposta senza limite di prezzo "esegui comunque" 
  .radio.disabled
  label
    input(type='radio', name='optionsRadios', ng-model="proposta", ng-value="propostaConLimiteDiPrezzo")
    | Proposta con limite di prezzo

table.table.ng-table-responsive(ng-table='tableParams', show-filter='true')
  tr(ng-repeat='askSum in $data', ng-class="{ 'emphasis': askSum.price > 4 }")
    //td(width='30', style='text-align: left', header="'ng-table/headers/checkbox.html'")
    //  input(type='checkbox', ng-model='checkboxes.items[user.id]')
    //td(data-title="'Name'", filter="{ 'name': 'select' }", filter-data='names($column)')
    //  | {{user.name}}
    td(data-title="'Price'", sortable="'price'")
      | {{askSum.price}}
    td(data-title="'Quantita Di Titoli'")
      | {{askSum.quantitaDiTitoli}}
    td(data-title="'Numero Di Proposte'")
      | {{askSum.numeroDiProposte}}
