table.table.ng-table-responsive(ng-table='tableParams', show-filter='true')
  tr(ng-repeat='bidSum in $data', ng-class="{ 'emphasis': bidSum.price > 4 }")
    //td(width='30', style='text-align: left', header="'ng-table/headers/checkbox.html'")
    //  input(type='checkbox', ng-model='checkboxes.items[user.id]')
    //td(data-title="'Name'", filter="{ 'name': 'select' }", filter-data='names($column)')
    //  | {{user.name}}
    td(data-title="'Numero Di Proposte'")
      | {{bidSum.numeroDiProposte}}
    td(data-title="'Quantita Di Titoli'")
      | {{bidSum.quantitaDiTitoli}}
    td(data-title="'Price'", sortable="'price'")
      | {{bidSum.price}}
