table.table.table-bordered.table-hover
  thead
    tr
      th.span1
        input(type='checkbox')
      th.span2
      th.span2
      th.span9
      th.span2
  tbody
    tr
      td
        input(type='checkbox')
        a(href='#')
          i.icon-star-empty
      td
        strong John Doe
      td
        span.label.pull-right Notifications
      td
        strong Message body goes here
      td
        strong 11:23 PM
